.idea
.php_cs.cache
.phpunit.result.cache
vendor
composer.lock
bin/*
!bin/jane
stub
build
.token

tests/client/generated
tests/generated/*
!tests/generated/.gitkeep
tests/fixtures/*/generated
src/Component/AutoMapper/Bundle/Tests/Resources/app/cache/

cache/*
!cache/.gitkeep
src/Component/AutoMapper/Tests/cache/*
!src/Component/AutoMapper/Tests/cache/.gitkeep
