{
    "runner.bootstrap": "bootstrap.php",
    "runner.path": "src/Benchmark",
    "report.generators": {
        "bench": {
            "extends": "aggregate",
            "cols": {
                "benchmark": null,
                "its": null,
                "revs": null,
                "mean": null,
                "worst": null,
                "best": null,
                "diff": "percent_diff(mode(suite[subject_name = \"benchAutoMapper\"][\"result_time_avg\"]), mode(result_time_avg))"
            }
        }
    }
}
