{
    "runner.bootstrap": "bootstrap.php",
    "runner.path": "src/Benchmark",
    "report.generators": {
        "bench": {
            "extends": "aggregate",
            "cols": [ "benchmark", "its", "revs", "mean", "stdev", "worst", "best", "mem_peak" ]
        }
    }
}
