{
    "bootstrap": "bootstrap.php",
    "path": "src/Benchmark",
    "reports": {
        "bench": {
            "extends": "aggregate",
            "break": ["params"],
            "cols": [ "suite", "benchmark", "mean", "diff", "worst", "best", "mem_real" ],
            "sort": {"mean": "asc"}
        }
    },
    "php_wrapper": "blackfire run -q"
}
