parameters:
	level: 3
	tmpDir: cache
	paths:
		- src/
	excludePaths:
		analyse:
			- src/Component/*/JsonSchema/*
			- src/Component/*/vendor/*
		analyseAndScan:
			- src/Bundle/*/Tests/Resources/*
			- src/Component/*/Tests/fixtures/*
			- src/Component/*/Tests/generated/*
			- src/Component/*/Tests/Validation/*
			- src/Component/*/Tests/client/generated/*
