parameters:
	level: 3
	tmpDir: cache
	reportUnmatchedIgnoredErrors: false
	paths:
		- src/
	excludePaths:
		analyse:
			- src/Component/*/JsonSchema/*
			- src/Component/*/vendor/*
		analyseAndScan:
			- src/Bundle/*/Tests/Resources/*
			- src/Component/*/Tests/fixtures/*
			- src/Component/*/Tests/generated/*
			- src/Component/*/Tests/Validation/*
			- src/Component/*/Tests/client/generated/*

	ignoreErrors:
		-
			message: '#Jane\\Component\\OpenApi3\\Tests\\FetchMode(Default|Eager|Head|Preload)#'
			path: src/Component/OpenApi3/Tests/FetchModeRuntimeTest.php
		-
			message: '#^Property Docker\\Api\\Model\\ContainersCreatePostBody::\$exposedPorts.*does not accept Docker\\Api\\Runtime\\JsonObject\.$#'
			path: src/Component/OpenApi2/Tests/EmptyObjectNormalizationTest.php
		-
			message: '#^Property Jane\\Component\\OpenApi3\\JsonSchema\\Model\\Response::\$content.*does not accept Jane\\Component\\OpenApi3\\JsonSchema\\Runtime\\JsonObject\.$#'
			path: src/Component/OpenApiCommon/Tests/Naming/OperationNamingTest.php
		-
			message: '#^Access to an undefined property Jane\\Component\\OpenApi3\\Tests\\Expected\\Model\\FilePostBody::\$item\.$#'
			path: src/Component/OpenApi3/Tests/MultipartNestedObjectRuntimeTest.php