<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
        backupGlobals               = "false"
        backupStaticAttributes      = "false"
        colors                      = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        processIsolation            = "false"
        stopOnFailure               = "false"
        syntaxCheck                 = "false"
        bootstrap                   = "vendor/autoload.php" >

    <testsuites>
        <testsuite name="Jane Unit Test Suite">
            <directory>./src/*/Tests</directory>
            <exclude>./src/JsonSchema/Tests/fixtures</exclude>
            <exclude>./src/OpenApi/Tests/fixtures</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>./src/*/Tests</directory>
                <directory>./src/JsonSchema/Model</directory>
                <directory>./src/JsonSchema/Normalizer</directory>
                <directory>./src/OpenApi/Model</directory>
                <directory>./src/OpenApi/Normalizer</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
