<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" colors="true" bootstrap="bootstrap.php">
  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory>./src/Component/*/Tests</directory>
      <directory>./src/Bundle/*/Tests</directory>
      <directory>./src/Bridge/ApiPlatform/Tests</directory>
      <directory>./src/Component/JsonSchema/Model</directory>
      <directory>./src/Component/JsonSchema/Normalizer</directory>
      <directory>./src/Component/OpenApi2/JsonSchema</directory>
      <directory>./src/Component/OpenApi3/JsonSchema</directory>
      <directory>./src/Component/OpenApi31/JsonSchema</directory>
    </exclude>
  </coverage>
  <php>
    <ini name="memory_limit" value="1024M"/>
  </php>
  <testsuites>
    <testsuite name="Jane Unit Test Suite">
      <directory>./src/Component/*/Tests</directory>
      <directory>./src/Bundle/*/Tests</directory>
      <exclude>./src/Component/JsonSchema/Tests/fixtures</exclude>
      <exclude>./src/Component/OpenApi2/Tests/fixtures</exclude>
      <exclude>./src/Component/OpenApi3/Tests/fixtures</exclude>
      <exclude>./src/Component/OpenApi31/Tests/fixtures</exclude>
    </testsuite>
    <testsuite name="JsonSchema">
      <directory>./src/Component/JsonSchema/Tests</directory>
      <exclude>./src/Component/JsonSchema/Tests/fixtures</exclude>
    </testsuite>
    <testsuite name="JsonSchemaRuntime">
      <directory>./src/Component/JsonSchemaRuntime/Tests</directory>
    </testsuite>
    <testsuite name="OpenApi2">
      <directory>./src/Component/OpenApi2/Tests</directory>
      <exclude>./src/Component/OpenApi2/Tests/fixtures</exclude>
    </testsuite>
    <testsuite name="OpenApi3">
      <directory>./src/Component/OpenApi3/Tests</directory>
      <exclude>./src/Component/OpenApi3/Tests/fixtures</exclude>
    </testsuite>
    <testsuite name="OpenApi31">
      <directory>./src/Component/OpenApi31/Tests</directory>
      <exclude>./src/Component/OpenApi31/Tests/fixtures</exclude>
    </testsuite>
    <testsuite name="OpenApiCommon">
      <directory>./src/Component/OpenApiCommon/Tests</directory>
    </testsuite>
    <testsuite name="OpenApiRuntime">
      <directory>./src/Component/OpenApiRuntime/Tests</directory>
    </testsuite>
    <testsuite name="JsonSchemaBundle">
      <directory>./src/Bundle/JsonSchemaBundle/Tests</directory>
    </testsuite>
    <testsuite name="OpenApiBundle">
      <directory>./src/Bundle/OpenApiBundle/Tests</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>prism</group>
    </exclude>
  </groups>
</phpunit>
