name: CI
on: [push, pull_request]
jobs:
  cs-check:
    runs-on: ubuntu-latest
    steps:
      - name: 'checkout'
        uses: actions/checkout@master
      - name: 'php-cs-fixer check'
        uses:  docker://oskarstark/php-cs-fixer-ga
        with:
          args: '--dry-run --diff'
